.superInput {
    background-color: white;
    padding:5px;
    border-radius:10px;
    border: 1px solid grey;
    margin-bottom: 43px;
    width: 20%;
    /*box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3)*/
    outline: none;
}

.errorInput {
    background-color: white;
    padding:5px;
    border-radius:10px;
    border: 1px solid red;
    color: red;
    width: 20%;
    outline: none;
}

.error {
    color: red;
}




