.someClass {
    border: 2px solid green;
    outline: none;
}

.error {
    border: 2px solid red;
    color: red;
    outline: none;
}

.errorText {
    color: red;
    padding-left: 25px;
    height: 22px;
}

table input {
    border-radius: 50px;
    height: 40px;
    width: 150px;
    position: relative;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 15px;
}

.totalUsers {
    font-size: 20px;
    padding-left: 20px;
}

.button {
    margin-bottom: 20px;
}